#body-game {
  font-family: 'Raleway', sans-serif;
  background-color: #f0cf85;
}

.card {
  font-family: 'Roboto Mono', monospace;
}

.title {
  color: #e32249;
  padding: 30px;
  text-align: center;
  font-size: 50px;
}

#timer, #footer {
  background-color: #cf455c;
  color: #fff;
}

#time {
  font-size: 20px;
}

.game-questions {
  font-size: 35px;
}

.input {
  padding: 20px;
}

.score {
  margin: 10px;
}

.btn-success {
  margin: 10px;
}
