#body-game {
  font-family: 'Raleway', sans-serif;
  background-color: #f0cf85;
}

.card {
  font-family: 'Roboto Mono', monospace;
}

.title {
  color: #e32249;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#timer, #footer {
  background-color: #cf455c;
  color: #fff;
}

#time {
  font-size: 20px;
}

#method {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.game-questions {
  font-size: 35px;
}

.input {
  padding: 5px;
}

.score, .btn-success {
  margin: 10px;
}

.btn-operator {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: auto;
    text-align: center;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
}
